{% extends "header.html" %}

{% block body %}

  <section class="jumbotron text-center" style="background-color:#ffffff">
    <div class="container">
    <h1 class="display-5">{ 500 Error }</h1>
      <p>&nbsp;</p>
      <h2 class="mb-3">Oops - This is not good!</h2>
      <h3 class="mb-4">Error details {{ error }}. 
    This error will be reviewed. Please continue to learn &nbsp;</h3>
      <button type="button" class="btn btn-warning" style="vertical-align:middle">Go Back!</button>
      
       
    </div>
  </section>
  
{% endblock %}