{% extends "header.html" %}

{% block body %}

<div class="album py-5">
    <div class="container">
    <div class="row" style="border: 0px solid black;">
        <div class="col-md-4" style="border: 0px solid green;"> <!-- 1. Card - All cards have fixed height-->
        <a href="/"  style="color:#000;">
          <div class="card mb-4 shadow-sm " style="background-color:#FFFFFF; padding: 20px; ">  <!-- 2. -->
            <div class= "container rounded image-bg1" style="height:150px">
             <h1>Python</h1> 
             <h1>Data Types</h1>   
            </div>
            
            <div class="card-body"  style="border: 0px solid red;">
                
              <div class="d-flex justify-content-between align-items-center"> <!-- 3 -->
              
                  <button type="button" class="btn btn-warning btn-padding">&nbsp;&nbsp;Learn&nbsp;&nbsp;</button>
                  <button type="button" class="btn btn-success">&nbsp;&nbsp;Quiz&nbsp;&nbsp;</button>
                
                <!--<small class="text-muted">Score: </small>-->
              </div> <!-- end 3-->
            </div>
          </div>
        </a>
        </div>
        
        <div class="col-md-4" style="border: 0px solid green;"> <!-- 1. Card - All cards have fixed height-->
        <a href="/" class="waves-effect waves-light" style="color:#000;">
          <div class="card mb-4 shadow-sm " style="background-color:#FFFFFF; padding: 20px; ">  <!-- 2. -->
            <div class= "container rounded image-bg2" style="height:150px">
             <h1>Python</h1> 
             <h1>Strings</h1>   
            </div>
            
            <div class="card-body"  style="border: 0px solid red;">
              <div class="d-flex justify-content-between align-items-center"> <!-- 3 -->
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div> <!-- end 3-->
            </div>
          </div>
        </a>
        </div>
        
        <div class="col-md-4" style="border: 0px solid green;"> <!-- 1. Card - All cards have fixed height-->
        <a href="/" class="waves-effect waves-light" style="color:#000;">
          <div class="card mb-4 shadow-sm " style="background-color:#FFFFFF; padding: 20px;">  <!-- 2. -->
            <div class= "container rounded image-bg3" style="height:150px">
             <h1>Python</h1> 
             <h1>Lists & Tuples</h1>   
            </div>
            
            <div class="card-body"  style="border: 0px solid red;">
              <div class="d-flex justify-content-between align-items-center"> <!-- 3 -->
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div> <!-- end 3-->
            </div>
          </div>
        </a>
        </div>
        
        <div class="col-md-4" style="border: 0px solid green;"> <!-- 1. Card - All cards have fixed height-->
        <a href="/" class="waves-effect waves-light" style="color:#000;">
          <div class="card mb-4 shadow-sm " style="background-color:#FFFFFF; padding: 20px;">  <!-- 2. -->
            <div class= "container rounded image-bg" style="height:150px">
             <h1>Python</h1> 
             <h1>Data Types</h1>   
            </div>
            
            <div class="card-body"  style="border: 0px solid red;">
              <div class="d-flex justify-content-between align-items-center"> <!-- 3 -->
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div> <!-- end 3-->
            </div>
          </div>
        </a>
        </div>
        
        <div class="col-md-4" style="border: 0px solid green;"> <!-- 1. Card - All cards have fixed height-->
        <a href="/" class="waves-effect waves-light" style="color:#000;">
          <div class="card mb-4 shadow-sm " style="background-color:#FFFFFF; padding: 20px;">  <!-- 2. -->
            <div class= "container rounded image-bg" style="height:150px">
             <h1>Python</h1> 
             <h1>Data Types</h1>   
            </div>
            
            <div class="card-body"  style="border: 0px solid red;">
              <div class="d-flex justify-content-between align-items-center"> <!-- 3 -->
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div> <!-- end 3-->
            </div>
          </div>
        </a>
        </div>
        
    </div>
  </div>
</div>

</main>
</html>

{% endblock %}